<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Django blog">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Django blog">
        <meta name="keywords"
              content="Django, blog, rest, api, react, frontend, backend">
        <title>Page</title>
        <link rel="shortcut icon"
              href="https://raw.githubusercontent.com/twitter/twemoji/master/assets/svg/1f916.svg"
              type="image/x-icon">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
