{% extends "partials/_base.html" %}
{% load humanize %}
{% load static %}

{% block title %}Ana səhifə{% endblock %}

{% block content %}

    <!--Main layout-->

    <main class="mt-4 mb-5">
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 mb-4">
                    <!--Section: Post data-mdb-->
                    <section class="border-bottom mb-4">
                        <h4 class="mb-5 ps-4">
                            <strong>
                                {% if request.GET.q %}
                                    Results for - {{ request.GET.q }}
                                {% else %}
                                    Latest posts
                                {% endif %}
                            </strong>
                        </h4>
                        <div class="row row-cols-1 row-cols-lg-2 g-4 px-4">
                            {% for post in post_list %}
                                <div class="col">
                                    <div class="card h-100 rounded-2">
                                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                            <img src="{{ post.image.url }}" class="img-fluid" alt="post"
                                                 style="height:210px;width: 100%;"/>
                                            <a href="{% url 'post-detail' post.slug %}">
                                                <div class="mask"
                                                     style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                            </a>
                                        </div>
                                        <div class="card-body py-2">
                                            <h5 class="card-title"><a class="text-dark"
                                                                      href="{% url 'post-detail' post.slug %}">{{ post.title }}</a>
                                            </h5>
                                            <p class="card-text">
                                                {{ post.subtitle|truncatechars:90|safe }}
                                            </p>
                                        </div>
                                        <div class="card-footer text-end py-1">
                                            <a href="{% url 'post-detail' post.slug %}#comments"><i
                                                    class="far fa-comments"></i> {{ post.comments.count }}</a> |
                                            <i class="far fa-eye"></i> {{ post.view_count }}
                                            <small class="text-muted float-start">Published {{ post.created_at|naturaltime }}</small>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Pagination -->
                        <nav class="my-4" aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if is_paginated %}
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1">&lang;&lang;</a>
                                        </li>
                                        {% if page_obj.number == 2 %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page=1">&lang;</a>
                                            </li>
                                        {% elif page_obj.has_previous and page_obj.number != 2 %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lang;</a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ page_obj.number }}</span>
                                    </li>
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                                &rang;
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                                &rang;&rang;
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </nav>
                    </section>
                </div>
                <div class="col-md-4 mb-4">
                    {% include 'partials/_sidebar.html' %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}