#intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 2.6em;
}

@media (max-width: 991px) {
    #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .switch {
        transform: translateX(31px);
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: auto !important;
        margin-right: auto !important
    }
}

/* Theme toggle */

.switch {
    transform: translateX(0);
    display: flex;
    height: 25px;
    position: relative;
    width: 60px;
    margin-left: 0;
    margin-right: 0;
}

.switch input {
    display: none;
}

.slider {
    background-color: #FFF;
    border: 1px solid #222;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #222;
    border: 1px solid #222;
    bottom: 3px;
    content: "";
    height: 17px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 17px;
    z-index: 421;
}

input.clicked+.slider {
    background-color: #222;
}

input.clicked+.slider:before {
    transform: translateX(31px);
    border-color: #fff;
    background-color: #fff;
}

.slider.round {
    border-radius: 31px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-moon, .toggle-sun {
    width: 50%;
    text-align: center;
    position: relative;
    z-index: 420;
}

/*ckeditor*/

blockquote {
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .2px;
    padding: .25rem .75rem .25rem 1rem;
    background-color: #f3eded;
    border-left: .3rem solid #b1aaaa;
    line-height: 3rem;
    width: 95%;
    margin: 2rem auto;
}

blockquote p {
    margin-bottom: 0;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
    height: 5px
}

::-webkit-scrollbar-track {
    background: rgb(197, 193, 193)
}

::-webkit-scrollbar-thumb {
    background: #333;
}

pre {
    background-color: rgb(19, 17, 17);
    padding-left: .3em;
    padding-top: .1em;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.dark h2 {
    color: #fff !important;
}